html{
    height: 100%;
    padding:0;
    margin: 0;
}

.flash{
	padding:5px;
	color:white;
	text-align:center;
	width:50%;
	position: absolute;
	left: 0;
	top:5px;
	right: 0;
	margin: auto
}

.notice{
	background-color: #12Db55;
}

.alert{
	background-color: #dd5412;
}

body{
	height:90%;
	
}

#content{
	height:100%;
	margin: 0px 50px 0px 50px;
}

#navigation{
	font-size:1.1em;
}

#instructions{
	text-align:center;
}

#main_content{
	box-sizing: border-box;
	width:100%;
	height:65%;
	overflow:scroll; 
}

.content_item{
	width:50%;
	max-width:0;
	vertical-align: top;
	padding:10px;
	box-sizing: border-box;
}

#function{
	font-family: "Courier";
	font-size: 1em;
	line-height:1.3em;
	height:90%;
	width:100%;
	overflow:scroll; 
	overflow:scroll; 
	background-color:white;
	white-space: pre-wrap;
	padding: 5px;
}

#comment{
	box-sizing: border-box;
	width:100%;
	background-color: #ffffff;
	padding :10px;
	border: 2px solid #a360d3;
    border-radius: 5px;
	word-spacing: 3px;
	font-family: "Arial";
	font-size: 1.3em;
	line-height:1.3em;
	height:70%;
	overflow:scroll; 
	overflow-x:scroll; 
	white-space: pre-wrap;
}

#comment::selection {
  background: #e6b7ff; /* WebKit/Blink Browsers */
}
#comment::-moz-selection {
  background: #e6b7ff; /* Gecko Browsers */
}

#confirmation{
	color: #c360d3;
	font-size: 1.3em;
	min-height: 2.5em;
	font-weight: bold;
}

#submit{
	font-size: 1.7em;
	width:10em;
    height:2em;
    border:2px solid #ccc;
    cursor:pointer;
}

#submit:hover{
	background-color: #ddeeff;
}

input#split{
	transform: scale(1.3) !important;
}