-Comment.all.each do |comment|
  %p
    id 
    =comment.function_id
  %p
    body 
    =comment.body
  -Tag.where(comment_id: comment.id).each do |tag|
    %p
      =tag.user_id
      =tag.body
  %br